/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}
a {
    color: #a4c639;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: none;
}
.portfolio {
    padding: .5rem;
}

.skillz {
    padding: .5rem;
}
#weather  {
    padding: 1.0rem;
}
#austinpets  {
    padding: 1.0rem;
}
#skills  {
    padding: 1.0rem;
}

#about  {
    padding: 1.0rem;
}

#footer {
    padding: 1.0rem;
}

.col-sm-4, .col-sm-8 {
    padding: .5rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.resize {
    width: 300px;
    height: auto;
}